@import "src/assets/styles/base/placeholders";

.main__container {
  margin: 1.5rem auto;
}

.page__title {
  font-size: $fs-32;
  color: $mainColor;
  font-weight: $fw-bold;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

:host::ng-deep {
  .mat-card-title {
    font-size: $fs-24;
    color: $mainColor;
    font-weight: $fw-bold;
  }

  .mat-card-header, .mat-card-header-text {
    width: 100% !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-underline::before {
    background-color: $lightBlack;
  }

  .mat-form-field-infix {
    border-top: 0;
    padding: 0.7em 0 0.5em 0 !important;
  }

  .mat-form-field-suffix {
    top: 0 !important;
  }

  .mat-card {
    margin-bottom: 1.5rem;
  }
}

.action__btn {
  background-color: $mainColor;
  color: $font-color-main;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 5px #ddd;
  transition: $transition-200ms;
  min-width: 125px;
  width: auto;
  @include flex(center, center, row, nowrap);
  text-align: end;
  border-radius: $fs-20;
  padding: 0.8rem 1rem;
  margin: 0.5rem auto 0.5rem 1rem;

  &:hover {
    background-color: $font-color-main;
    color: $mainColor;
  }


}


.students__list {
  @include flex(center, space-between, row, nowrap);
  @include media-breakpoint-down(md) {
    flex-flow: column;
  }
}

.ul__membership {
  li {
    &::marker {
      color: $color-gray-2;
    }
  }
}
