@import "src/assets/styles/abstracts/variables";
/*__________________________________--------- Auth Card Placeholder ---------__________________________________*/
.auth__container {
  text-align: center;
  width: 75%;
  position: relative;
  max-width: 800px;
  @include flex(initial, flex-start, column, nowrap);
  padding: 2rem 1rem;
  height: 100vh;


  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0 !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }

  ::ng-deep.mat-form-field-infix {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .page__img {
    width: auto;
    max-width: 195px;
    height: 95px;
    image-rendering: pixelated;
  }

  .page__title {
    color: $mainColor;
    font-weight: $fw-bold;
    font-size: $fs-32;
    margin: 1rem auto 2rem auto;
  }

  .form__container {
    padding: 1rem;
  }

  .extra__links {
    font-size: $fs-16;
    color: $mainColor;
    margin: 0 0 1rem 0;
    text-align: start;

    a {
      cursor: pointer;
      color: $mainColor;
      font-weight: $fw-semiBold;

      &:hover {
        color: $secColor;
      }
    }
  }

  .auth__details {
    text-align: center;


  }

  .page__footer {
    margin: 1rem auto;
    text-align: center;

    &-title {
      color: $mainColor;
      font-weight: $fw-semiBold;
      font-size: $fs-24;
    }

    &-mail {
      color: $mainColor;
      font-weight: $fw-medium;
      font-size: $fs-18;
    }
  }
}

@include media-breakpoint-down(lg) {
  .auth__container {
    .auth__content {
      .auth__card {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .overlay {
    height: 200px;
  }
  .auth__container {
    .auth__content {
      padding: 1rem 0;

      .content__header {
        margin: 1rem auto 2rem auto;
      }

      .auth__card {
        width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .auth__container {
    .auth__content {
      .content__header {
        font-size: 1.2rem;
      }

      .auth__card {
        width: 90%;
      }
    }
  }
}
