//Colors
$secColor: #FFAA00;
$fontColor: #272727;
$background-color-gray-light: #F6F6F6;
$color-white: #FFFFFF;
$redColor: #cd2238;
$semi-gray: #EEEEEE;
$color-gray-6: #878787;
$color-gray-5: #444444;
$color-gray-3: #878787;
$color-gray-2: #9B9B9B;
$mainColor: #1f6b00;
$font-color-main: #FFAA00;
$lightBlack: #474747;
