$font-family: 'bein', sans-serif;


//Font spec
$fs-10: var(--font-size-10);
$fs-12: var(--font-size-12);
$fs-13: var(--font-size-13);
$fs-14: var(--font-size-14);
$fs-15: var(--font-size-15);
$fs-16: var(--font-size-16);
$fs-18: var(--font-size-18);
$fs-20: var(--font-size-20);
$fs-23: var(--font-size-23);
$fs-24: var(--font-size-24);
$fs-22: var(--font-size-22);
$fs-28: var(--font-size-28);
$fs-29: var(--font-size-29);
$fs-30: var(--font-size-30);
$fs-32: var(--font-size-32);
$fs-48: var(--font-size-48);


$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
