//Spec
$rd-circle: 50%;
$rd-32: 2rem;
$rd-30: 1.875rem;
$rd-24: 1.5rem;
$rd-16: 1rem;
$rd-12: 0.75rem;
$rd-11: 0.6875rem;
$rd-10: 0.625rem;
$rd-9: 0.5625rem;
$rd-8: 0.5rem;
$rd-7: 0.4375rem;
$rd-6: 0.375rem;
$rd-5: 0.3125rem;
$rd-4: 0.25rem;

$transition-100ms: 0.2s ease-in-out;
$transition-200ms: 0.2s ease-in-out;
$transition-300ms: 0.3s ease-in-out;
$transition-400ms: 0.4s ease-in-out;
$transition-500ms: 0.5s ease-in-out;

$box-shadow: 0px 3px 41px #00000029;
$box-shadow-light: 0px 15px 25px #00000029;
$card-shadow: 0 0 8px -2px rgb(0 0 0 / 50%);

