<div class="auth__container container">
  <div class="row">
    <div class="col-12">
      <img alt="الكنانى اعلانات" class="page__img" src="../../../../assets/images/logo.png">
    </div>
    <div class="col-12">
      <h1 class="page__title">مرحبا بك في إعلانات الكناني</h1>
    </div>
    <div class="col-12">
      <div class="auth__card__body">
        <div class="form__container">
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" dir="rtl">
            <!--       Email        -->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>البريد الالكترونى</mat-label>
              <input formControlName="email" matInput
                     placeholder="البريد الالكترونى" type="email"/>
              <mat-hint *ngIf="loginForm.controls.email.errors?.required &&loginForm.controls.email.touched"
                        align="start">ادخل البريد الالكترونى
              </mat-hint>
              <mat-hint *ngIf="loginForm.controls.email.errors?.email" align="end">
                صيغة البريد الالكترونى خاطئة
              </mat-hint>
            </mat-form-field>
            <div class="submit-btn text-center m-auto">
              <p class="extra__links"><a [routerLink]="['/user/login']">لديك حساب بالفعل : تسجيل الدخول</a></p>
              <app-submit-button [form]="loginForm" [loading]="loading" [title]="'ارسال'"></app-submit-button>
            </div>
          </form>
          <div class="page__footer">
            <p class="page__footer-title">اشترك فى إعلانات الكنانى الان</p>
            <a class="page__footer-mail" href="mailto:Business@elkenany.com">Business@elkenany.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
