@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

@mixin flex($align, $justify, $flow,$wrap:wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-flow: $flow;
  flex-wrap: $wrap;
}

